Assembly - UnityScript/obj/
Assembly - UnityScript/bin/
Assembly - UnityScript/.vs/
Assembly - CSharp - first pass/obj/
Assembly - CSharp - first pass/bin/
Assembly - CSharp - first pass/.vs/
Assembly - CSharp/obj/
Assembly - CSharp/bin/
Assembly - CSharp/.vs/
Assembly - UnityScript - first pass/obj/
Assembly - UnityScript - first pass/bin/
Assembly - UnityScript - first pass/.vs/
Ionic.Zlib/obj/
Ionic.Zlib/bin/
Ionic.Zlib/.vs/
TerrainControllerData/obj/
TerrainControllerData/bin/
TerrainControllerData/.vs/
marsxplr_build/
UnityEngine/obj/
UnityEngine/bin/
UnityEngine/.vs/
Boo.Lang/obj/
Boo.Lang/bin/
Boo.Lang/.vs/
UnityScript.Lang/obj/
UnityScript.Lang/bin/
UnityScript.Lang/.vs/